.editor img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.editor figcaption {
  max-width: 200px;
}

.editor tr {
}

.editor td,th {
  border: 1px solid black;
  text-align: center;
}

table.editor {
  border-collapse: collapse;
}

.edit-page-image-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-page-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-page-image img:hover {
  cursor: pointer;
}